@charset "UTF-8";

body {
  font-family: "Garamond" ;
}

.header {
  position:fixed;
  width: 100%;
  padding: 15px 0;
  background-color: white;
  z-index: 9999;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}

.header_box {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  transition: all 0.3s;
}

.header_box:hover {
  color: #333;
  cursor: pointer;
}

.theme {
  background-color: #f2f2f2;
  width: 100%;
  padding: 320px 0 250px;
}

.theme .inner {
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: sans-serif;
}

.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  padding-top: 20px;
  font-family: sans-serif;
}

.green_wrap {
  background-color: #74cfae;
  padding-top: 50px;
}

.green_wrap .inner {
  display: flex;
  justify-content: center;
}

.green_wrap_text_box {
  vertical-align: top;
  text-align: center;
  color: white;
  padding-left: 70px;
}

.green_wrap_text_box_title {
  font-size: 24px;
}

.green_wrap_text_box_text {
  font-size: 20px;
  padding-top: 35px;
}

.photo_box {
  background-color: #f2f2f2;
}

.photo_box .inner {
  text-align: center;
}

.photo_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  margin-left: 100px;
  margin-bottom: 80px;
  opacity: 0.7;
  transition: all 0.3s;
}

.inner .photo:nth-child(1),.inner .photo:nth-child(4){
  margin-left: 0;
}

.inner .photo:nth-child(n+4) {
  margin-bottom: 0;
}

.photo:hover {
  opacity: 1;
  cursor: pointer;
}

.photo_box_title {
  font-size: 24px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.photo_box_text {
  padding-top: 90px;
  padding-bottom: 70px;
  display: inline-block;
}

.mail_box {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: white;
  display: inline-block;
  margin-top: 90px;
  margin-left: 90px;
  vertical-align: top;
  transition: all 0.3s;
}

.mail_box:hover {
  color: #333;
  cursor: pointer;
}

.circle_box {
  background-color: #4e4e4e;
  color: white;
  padding: 70px 0 100px;
}

.circle_box .inner {
  text-align: center;
}

.circle_box_title {
  font-size: 24px;
}

.circle_frame {
  display: inline-block;
  margin: 50px 0 0 180px;
}

.circle_frame:first-child {
  margin-left: 0px;
}

.sns_box {
  background-color: #f2f2f2;
  text-align: center;
  display: table;
  margin: 0 auto;
  padding: 200px 0;
  width: 100%;
}

.sns_box .inner {
  display: inline-block;
}

.sns_icon {
  color: #74cfae;
  display: table-cell;
  width: 185px;
  padding: 20px 0;
  transition: 0.3s;
}

.sns_icon:hover {
  background-color: white;
  cursor: pointer;
}

.footer_box {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_text {
  color: white;
  padding-left: 950px;
}