@charset "UTF-8";

.header {
  position:fixed;
  width: 100%;
  padding: 15px 0;
  background-color: white;
  z-index: 9999;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.header_box {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  transition: all 0.3s;
}

.header_box:hover {
  color: #333;
  cursor: pointer;
}

.hamburger_menu {
  display: none;
}

.theme {
  background-color: #f2f2f2;
  padding: 320px 0 250px;
  width: 100%;
}

.theme .inner {
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: 'Raleway';
}

.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  padding-top: 20px;
}

.green_wrap {
  background-color: #74cfae;
  padding-top: 50px;
}

.green_wrap .inner {
  display: flex;
  justify-content: center;
}

.green_wrap_photo {
  max-width: 100%;
}

.green_wrap_text_box {
  vertical-align: top;
  text-align: center;
  color: white;
  padding-left: 70px;
}

.green_wrap_text_box_title {
  font-size: 24px;
  font-family: Raleway;
}

.green_wrap_text_box_text {
  font-size: 20px;
  padding-top: 35px;
  font-family: Lato;
  line-height: 30px;
}

.photo_box {
  background-color: #f2f2f2;
  width: 100%;
}

.photo_box .inner {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.photo {
  opacity: 0.7;
  transition: all 0.3s;
}

.photo:hover {
  opacity: 1;
  cursor: pointer;
}

.photo_box .inner li {
  margin: 0 0 80px 100px;
  max-width: 300px;
  height: 300px;
}

.photo_box .inner li:nth-child(1),.photo_box .inner li:nth-child(4){
  margin-left: 0;
}

.photo_box .inner li:nth-child(n+4) {
  margin-bottom: 0;
}


.photo_box_title {
  font-size: 24px;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: Raleway;
}

.photo_box_text {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 70px;
  font-family: Raleway;
  line-height: 20px;
}

.mail_box {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: white;
  margin-left: 90px;
  transition: all 0.3s;
  text-decoration: none;
}

.mail_box:hover {
  color: #333;
  cursor: pointer;
}

.circle_box {
  background-color: #4e4e4e;
  color: white;
  padding: 70px 0 100px;
}

.circle_box .inner {
  text-align: center;
}

.circle_box_title {
  font-size: 24px;
  font-family: Raleway;
}

.circle_frame {
  display: inline-block;
  margin: 50px 0 0 180px;
}

.circle_frame:first-child {
  margin-left: 0px;
}

.circle_box p {
  margin-top: 10px;
  font-family: Raleway;
}

.sns_box {
  background-color: #f2f2f2;
  text-align: center;
  padding: 200px 0;
  width: 100%;
}

.sns_box .inner {
  display: inline-block;
}

.sns_icon {
  color: #74cfae;
  display: table-cell;
  width: 185px;
  padding: 20px 0;
  transition: all 0.3s;
}

.sns_icon:hover {
  background-color: white;
  cursor: pointer;
}

.footer_box {
  text-align: right;
  background-color: #74cfae;
  padding: 20px 0 25px;
}

.footer_box .inner {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 1100px;
}

.footer_text {
  color: white;
}