@charset "UTF-8";

body {
  font-family: 'Lato';
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position:fixed;
  width: 100%;
  padding: 15px 0;
  background-color: white;
  z-index: 9999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  transition: all 0.3s;
}

.contact_button {
  padding: 14px 12px;
}

.button:hover {
  color: #333;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
}

.theme {
  background-color: #f2f2f2;
  padding: 320px 0 250px;
  width: 100%;
}

.theme-inner {
  text-align: center;
}

.title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  font-family: 'Raleway';
}

.sub_title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.green_box {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}

.green_box-inner {
  display: flex;
  justify-content: space-around;
}

.green_box_text_wrap {
  vertical-align: top;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.green_box_text_title {
  font-size: 24px;
  font-family: 'Raleway';
}

.green_box_text {
  width: 650px;
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}

.photo_box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 60px 0 70px;
}

.photo_box_title {
  font-size: 24px;
  font-family: 'Raleway';
  text-align: center;
}

.photo_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.photo_wrap li {
  margin: 80px 0 0 100px;
}

.photo_wrap li:nth-child(-n+3) {
  margin-top: 0;
}

.photo_wrap li:nth-child(3n+1) {
  margin-left: 0;
}

.photo {
  opacity: 0.7;
  transition: all 0.3s;
  display: block;
  height: 300px;
}

.photo:hover {
  opacity: 1;
  cursor: pointer;
}

.photo_box_footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.photo_box_text {
  text-align: center;
  width: 500px;
  font-family: 'Raleway';
  line-height: 23px;
}

.mail_button {
  padding: 14px 20px;
  margin-left: 90px;
  text-decoration: none;
}

.circle_box {
  background-color: #4e4e4e;
  color: white;
  width: 100%;
  padding: 70px 0 100px;
}

.circle_box_title {
  font-size: 24px;
  font-family: 'Raleway';
  text-align: center;
}

.circle_wrap {
  text-align: center;
  margin-top: 50px;
}

.circle_frame {
  display: inline-block;
  margin-left: 180px;
  text-align: center;
}

.circle_frame:first-child {
  margin-left: 0px;
}

.circle_box p {
  margin-top: 10px;
}

.sns_box {
  background-color: #f2f2f2;
  width: 100%;
  padding: 200px 0;
}

.sns_box-inner {
  display: flex;
  justify-content: center;
}

.sns_list {
  list-style: none;
}

.sns_icon {
  color: #74cfae;
  display: block;
  width: 185px;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s;
}

.sns_icon:hover {
  background-color: white;
  cursor: pointer;
}

.footer {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  color: white;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .green_box {
    padding-bottom: 25px;
  }

  .green_box-inner {
    display: block;
    text-align: center;
  }

  .green_box_text {
    width: 100%;
  }

  .photo_box-inner {
    text-align: center;
  }

  .photo_wrap {
    display: inline-block;
  }

  .photo_wrap li {
    margin: 0;
  }

  .photo_wrap li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .photo_box_footer {
    display: block;
    margin-top: 80px;
  }

  .photo_box_text {
    width: 100%;
  }

  .mail_button {
    display: inline-block;
    margin: 40px 0 0 0;
  }

  .circle_frame {
    margin: 0;
    display: block;
  }

  .circle_frame:nth-child(n+2) {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .contact_button {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-flow: column;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }

  .menu-line {
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 24px;
    margin-top: 4px;
  }

  .menu-line:first-child {
    margin-top: 0;
  }

  .theme {
    padding: 232px 0 130px;
  }

  .title {
    font-size: 80px;
  }

  .sub_title {
    font-size: 30px;
    margin-top: 20px;
  }

  .sns_box {
    padding: 50px 0 50px;
  }

  .sns_box-inner {
    display: block;
  }

  .sns_list {
    display: flex;
    justify-content: center;
    margin: 0 15px;
  }

  .sns_icon {
    width: 100%;
  }
}